#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
}

.nav-link {
  margin-right: 20px;
}

.first-line,
.second-line {
  display: inline;
}

.siteLinks {
  margin: 40px 0px;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-items {
  margin: 0 30px;
  text-align: center;
}

.x-icon,
.github-icon {
  color: white;
  font-size: 50px;
}

@media (max-width: 600px) {
  .web-address {
    font-size: 30px;
  }
  .social-links {
    display: flex;
    flex-direction: column;
  }

  .social-items {
    margin: 10px 0;
  }
}

@media (max-width: 420px) {
  .web-address {
    font-size: 20px;
  }

  .first-line,
  .second-line {
    font-size: 18px;
    display: block;
  }

  .siteLinkStyle {
    font-size: 14px;
  }
}
